$formWidth: 80%;
$bottomMargin: 1em;

input:focus, textarea:focus{
    outline:none;
}

.profile-edit-form{
    display: flex;
    flex-direction: column;
    flex: .50;
    margin: 0 auto;
    text-align: center;
}

.form-section{
    color: darkgray;
}

.form-header{
    text-align: left;
}

.form-element{
    width: 100%;
    height: 2em;
    margin: auto;
    margin-bottom: $bottomMargin;
    padding-left: 0.3em;
    //very important part of code for aligning input boxes
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: gray;
    font-size: 22px;

    &:focus{
        box-shadow: 0 0 5px teal;
    }
}

.desc{
    height: 10em;
}

.form-split{
    display: flex;
}

.half-split{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center-split{
    width: $bottomMargin;
}

.addons{
    display: flex;
}

.addon-elements{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.addon-label{
    margin-left: 30%;
    text-align: left;
}