$formWidth: 80%;

.char-cap{
    color:red;
}


.profile-header{
    text-align: center;
    margin-bottom: 1em;
}

.twoColumns{

    display: flex;
    width: 100%;

    //left side
    .update{
        flex: .4;
        text-align: center;
    }

    //right side
    .account{
        flex: 1;
        margin-left: 1.5em;
    }

    //sub navigation
    .sub-nav{

        margin-bottom: 1em;

        ul{
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            li{
                cursor: pointer;
            }
        }
    }

    // //right side
    // .profile-edit-form{

    //     display: flex;
    //     flex-direction: column;
    //     flex: .60;
    //     margin: 0 auto;
    //     text-align: center;

        // //remove dark blue highlight
        // input:focus, textarea:focus{
        //     outline:none
        // }

        // .form-element{
        //     height: 2em;
        //     margin: auto;
        //     margin-bottom: 1em;
        //     padding-left: 0.3em;
        //     //very important part of code for aligning input boxes
        //     border-style: solid;
        //     border-width: 1px;
        //     box-sizing: border-box;
        //     border-color: gray;
        //     font-size: 22px;

        //     &:focus{
        //         box-shadow: 0 0 5px teal;
        //     }
        // }

        // .comp-name{
        //     width:$formWidth;
        // }

        // .desc{
        //     width: $formWidth;
        //     height: 12em;
        // }
        // .name{
        //     width: $formWidth;
        //     margin: auto;
        //     margin-bottom: 1em;
        //     display: flex;

        //     .first-name{
        //         margin: 0;
        //         min-width: 0;
        //         flex: 1;
        //     }

        //     .name-space{
        //         width: 1em;
        //         height: 1em;
        //     }

        //     .last-name{
        //         margin: 0;
        //         min-width: 0;
        //         flex: 1;
        //     }
        // }

        // .email{
        //     width: $formWidth;
        // }
    // }
}

input:disabled{
    border: none;
    border-top: solid;
}

.subnav-selected{
    font-weight: bold;
}

.ad-nav--list{
    width: 90%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    .ad-nav--item{
        cursor: pointer;
    }
}